<%= render partial: "events/tabs" %>

<div class="row">
  <div class="col-sm-12">
    <h3>Manage tickets</h3>
    <div class="table-responsive">
      <table class="table" id="table-access-levels">
        <thead>
          <th>Name</th>
          <th width="200">Sold (Paid) /Capacity</th>
          <th>Price</th>
          <th>Availability</th>
          <th>Member Only</th>
          <th>Allows comments</th>
          <th>Hidden</th>
          <% if @advanced %>
            <th>Zones</th>
          <% end %>
          <th>Actions</th>
        </thead>
        <tbody>
          <%= render @event.access_levels, advanced: @advanced %>
          <%= render "access_levels/form", object: @event.access_levels.build, button_name: "Add Ticket" %>
        </tbody>
      </table>
      <div id='access-level-errors' class='form-errors'>
      </div>
    </div>
  </div>
</div>
