<%= render partial: "events/tabs" %>

<div class="row">
  <div class="col-sm-12">
    <h2>Manage tickets</h2>
    <div class="table-responsive">
      <table id="table-access-levels">
        <thead>
          <th class="header">Name</th>
          <th class="header spacer"></th>
          <th class="header" width="200">Sold (Paid) /Capacity</th>
          <th class="header spacer"></th>
          <th class="header">Price</th>
          <th class="header spacer"></th>
          <th class="header">Allow</th>
          <th class="header spacer"></th>
          <th class="header">Allows comments</th>
          <th class="header spacer"></th>
          <th class="header">Hidden</th>
          <th class="header spacer"></th>
          <% if @advanced %>
            <th>Zones</th>
            <th class="header spacer"></th>
          <% end %>
          <th>Actions</th>
        </thead>
        <tbody>
          <%= render @event.access_levels, advanced: @advanced %>
          <%= render "access_levels/form", object: @event.access_levels.build, button_name: "Add Ticket" %>
        </tbody>
      </table>
      <div id='access-level-errors' class='form-errors'>
      </div>
    </div>
  </div>
</div>
