<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @registration.name %>,</h1>
    Below is the barcode you need to enter. Print this email and bring it with you.
    <br />
    <%= image_tag attachments['barcode.pdf'].url %>
  </body>
</html>
