<tr class="<%= access_level.name %>">
  <td><%= access_level.name %></td>
  <% if advanced %>
    <td><%= render partial: 'access_levels/zones', locals: {access_level: access_level} %></td>
  <% end %>
  <td><%= link_to raw('<i class="glyphicon glyphicon-trash"></i>'), event_access_level_path(access_level.event, access_level), confirm: 'Are you sure?', remote: true, method: :delete %></td>
</tr>
