<li>
    <%= access_level.name %>
    (<%= link_to 'Remove', event_access_level_path(access_level.event, access_level), confirm: 'Are you sure?', method: :delete %>)
    <%= render partial: 'access_levels/included_zones', locals: {access_level: access_level} %>
</li>
