<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <th>Name</th>
          <th>Organisation</th>
          <th>Location</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Actions</th>
        </thead>
        <%= render @events %>
      </table>
    </div>
  </div>
</div>
<%= render "events/delete_modal" %>
