<%= render partial: "tabs" %>

<div class="row">
  <div class="col-sm-6">
    <h3>Description</h3>
    <p><%= @event.description %></p>
  </div>

  <% if can? :register, @event %>
    <div class="col-sm-4">
      <%= render partial: "registrations/form" %>
    </div>
  <% end %>
</div>
