<div class="confirm-form">
  <%= form_for [event, partner], url: confirm_event_partner_path(event, partner), method: :post, remote: true do |f| %>
    <div class="form-group">
      <label for="partner_received_invitations">Select ticket:</label><%= f.select :received_invitations, partner.received_invitations.where(accepted: false).map { |i| [i.access_level.name_with_price, i.id] }, {}, class: 'form-control' %>
    </div>
    <%= f.submit "Register", class: 'btn btn-primary' %>
  <% end %>
</div>
