// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit_access_level label {
  margin-right: 15px;
  margin-left: 4px;
  top: -16px;
  left: 15px;
  margin-bottom: -10px;
  display: block;
  position: relative;
}

.edit_access_level input[type='checkbox'] {
  display: block;
}
