<%= simple_form_for [@event, @event.registrations.build] do |f| %>
    <%= f.input :email %>
    <%= f.input :name %>
    <div id="zone_accesses">
        <div class="zone_access">
            <input type="text" class="period" name="registration[zone_accesses][1][period]" />
            <input type="text" class="zone" name="registration[zone_accesses][1][zone]" />
        </div>
    </div>
    <input type="hidden" id="counter" value="1" />
    <input type="button" id="add-period" />
    <%= f.button :submit %>
<% end %>
