<h1><%= t('event.cancel.title', :event => @registration.event.name) %></h1>
<% if @registration.event.registration_cancelable %>
    <%= button_to t('event.cancel.button'), cancel_destroy_event_registration_path(params), method: :delete, class:'btn btn-default' %>
  <% else %>
    <%= t('event.cancel.closed')%>
<% end %>