<h1>Schrijf u uit!</h1>
<p><%= @registration.event.name %></p>
<p>dsfsdfsfk</p>
<%= button_to 'Schrijf mij nu uit!', unsubscribe_destroy_event_registration_path(params), method: :delete, class:'btn btn-default' %>