<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Organisation</th>
      <th>Location</th>
      <th>Start date</th>
      <th>End date</th>
      <th width="210">Actions</th>
    </thead>
    <%= render events %>
  </table>
</div>
