<tr>
  <td><%= link_to event.name, event_path(event)%></td>
  <td><%= nice_time(event.start_date) %></td>
  <td><%= nice_time(event.end_date) %></td>
  <td>
    <%= render "events/actions", event: event %>
  </td>
</tr>
