<%= render partial: "events/tabs" %>

<div class="row">
  <div class="col-sm-7">
    <%= render partial: 'events/event_details', locals: { event: @event } %>
  </div>

  <div class="col-sm-4 col-sm-offset-1">
    <h3>Register</h3>
    <% unless @event.access_levels.find_all{ |al| al.requires_login? }.blank? %>
      Some tickets of this event can only be registered for if you are a member of the organiser's organisation.<br />
      <%= link_to "Login", new_user_session_path %> using CAS to register for these tickets.
    <% end %>
    <% if can? :register, @event and not @event.access_levels.find_all{ |al| can? :register, al }.blank? %>
      <%= render partial: "registrations/form" %>
    <% end %>
  </div>
</div>
