<tr>
  <td><%= period.name %></td>
  <td><%= period.starts %></td>
  <td><%= period.ends %></td>
  <td><%= link_to raw('<i class="glyphicon glyphicon-trash"></i>'), event_period_path(period.event, period), confirm: 'Warning: Removing a period should never be done when registrations have started!', method: :delete %></td>
</tr>
