<%= link_to raw('<span class="glyphicon glyphicon-log-in"></span> Register'), event_path(event, anchor: "register"), class: "btn btn-default btn-xs" %>
<% if can? :manage, event %>
  <%= link_to raw('<span class="glyphicon glyphicon-edit"></span> Edit'), event_path(event, anchor: "edit"), class: "btn btn-default btn-xs" %>
  <%= link_to raw('<span class="glyphicon glyphicon-trash"></span> Delete'), event_path(event), class: "btn btn-danger btn-xs", confirm: 'Are you sure?', method: :delete %>
<% end %>
