<div class="col-lg-6">
  <h3>Manage Access Levels</h3>
  <div class="row">
    <div class="col-lg-9">
      <div class="table-responsive">
        <table class="table" id="table-access-levels<% if advanced %>-advanced<% end %>">
          <thead>
            <th>Name</th>
            <% if advanced %>
              <th>Zones</th>
            <% end %>
            <th>Actions</th>
          </thead>
          <%= render @event.access_levels, advanced: advanced %>
        </table>
      </div>
    </div>
  </div>
  <%= render "access_levels/form" %>
</div>
