<div class="col-lg-6">
  <h3>Registrations</h3>
  <div class="row">
    <div class="col-lg-9">
      <div class="table-responsive">
        <table class="table table-striped" id="table-registrations">
          <thead>
            <th>Name</th>
            <th>Access level</th>
            <th>Paid</th>
          </thead>
          <%= render @event.registrations %>
        </table>
      </div>
    </div>
  </div>
</div>
