<span class="nowrap">
  <%= link_to raw('<i class="glyphicon glyphicon-comment"></i> Info'), info_event_ticket_path(ticket.event, ticket), class: 'btn btn-xs btn-default', remote: true %>
  <%= link_to raw('<i class="glyphicon glyphicon-retweet"></i> Resend'), resend_event_ticket_path(ticket.event, ticket), class: 'btn btn-xs btn-default', remote: true %>
  <%= link_to raw('<i class="glyphicon glyphicon-trash"></i> Delete'), event_ticket_path(ticket.event, ticket), class: 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' }, remote: true, method: :delete %>
</span>
