<h1>Welcome!</h1>

<p>Welcome to Gandalf, an online event management service brought to you by <a href="http://zeus.ugent.be/" target="_blank">Zeus WPI</a> and <a href="http://www.fkgent.be/" target="_blank">FaculteitenKonvent Gent</a></p>

<p>Click on <a href="/events">Events</a> in the menu to register or buy tickets for an event.</p>
