<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <p>Sup <%= @partner.name %>,</p>

    <p>Link to confirm_event_partner met een nice token.</p>

    <p>Bai.</p>
  </body>
</html>
