<% if object.errors.any? %>
  <div class="panel panel-danger form-errors">
    <div class="panel-heading">
      <%= pluralize(object.errors.count, "error") %> prohibited this <%= object.class.name.downcase %> from being saved:
    </div>
    <div class="panel-body">
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <div id="flash">
      <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Form succesfully submitted!
    </div>
  </div>
<% end %>
