<div class="form-group">
  <%= f.label tag %>:
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    <%= f.text_field tag, class: 'form-control', id: id, value: value %>
  </div>
</div>
