<%= render partial: "events/tabs" %>

<div class="row">
  <div class="col-sm-6">
    <h3>Manage Event Zones</h3>
    <div class="table-responsive">
      <table class="table" id="table-zones">
        <thead>
          <th>Name</th>
          <th>Actions</th>
        </thead>
        <%= render @event.zones %>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <h3>Add Zone</h3>
    <%= render "zones/form" %>
  </div>
</div>
