/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require datagrid
 *= require select2
 *= require select2-bootstrap
 *= require_self
 *= require_tree .
 */
/* Move down content because we have a fixed navbar that is 50px tall */
footer {
  text-align: center;
}

/* All round utility classes */
.nowrap {
  white-space: nowrap;
}

.word-break {
  table-layout: fixed;
  word-wrap: break-word;
}

.nav-tabs {
  margin-bottom: 15px !important;
}

ul.nav-tabs li:before {
  content: "";
}

.main-content {
  margin-bottom: 15px;
}

table.sideways-table td:first-child:not(.colspanned) {
  width: 150px;
  font-weight: bold;
}
