// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field_with_errors {
  display: inline;
}

.input-group {
  width: 100%;
}

#scan-by-name {
  .typeahead-scan-name {
    float: left;
  }

  .typeahead-scan-email {
    color: #777;
    float: right;
  }

  .tt-highlight {
    color: #3276B1;
    text-decoration: none;
  }

  .tt-cursor {
      background-color: #eee;
  }

  .tt-suggestion {
    overflow: hidden;
  }
}
