// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#table-orders td {
  vertical-align: middle;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}
