ul.nav-tabs li:before {
  content: "";
}

.glyphicon-calendar {
    font-size: 14px
}

.nav-tabs {
  margin-bottom: 15px !important;
}


.checkbox {
  label {
    padding-left: 0px !important;
  }

  input[type="checkbox"] {
    margin-left: 5px;
  }
}

.label-warning {
  background-color: #ff9900;
}
