<div class="form-group btn-group" data-toggle="buttons">
  <% if show_label %>
    <p><strong><%= t(tag) %>:</strong></p>
  <% end %>

  <% states.each do |state, _| %>
      <label class="btn btn-primary<%= ' active ' if state.to_s == selected_state  %>"> <%= f.radio_button(tag, state) %><%= do_translate ? t(t_prefix + '.'  + state.to_s) : state.capitalize %></label>
<% end %>
</div>
