<%# To pass options to the collection_select, add {options} as the last argument %>
<div class="form-group">
  <%= f.label args.first %>:
  <%= f.collection_select *args, {class: 'form-control'} %>
</div>
