<div class="form-group">
  <%= f.label tag %>:<br/>
  <%= f.telephone_field tag, class: 'form-control' %>
  <small>Uw telefoonnummer wordt vertrouwelijk gehouden, en zal enkel gebruikt worden om uw persoonlijke eindscore te sms'en.</small>
</div>
