<tr>
  <td><%= zone.name %></td>
  <td><%= link_to raw('<i class="glyphicon glyphicon-trash"></i>'), event_zone_path(zone.event, zone), confirm: 'Are you sure? Removing a zone will remove this zone from all registration and cannot be undone!', method: :delete %></td>
</tr>
