<footer class="page-footer fluid-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="bg-primary padding-20">
        <div class="row">
          <div class="container-share col-xs-12 col-sm-4">
          </div>
          <div class="col-xs-12 col-sm-8">
            <ul class="list-inline list-unstyled pull-right">
              <li><a href="#">Feedback</a></li>
              <li><a href="#">Disclaimer</a></li>
              <li><a href="#">Cookies</a></li>
              <li><a href="#">Toegankelijkheid</a></li>
              <li><a href="#">Aan-/afmelden</a></li>
              <li>&copy; <%= Time.now.year %> Zeus WPI & Universiteit Gent</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
